<li class="py-6 first:pt-0">
  <p class="text-xl">{{ event.data.title }}</p>
  <!-- <p>{{event.data.date | prettyDateAndTime}}</p>  -->
  <p class="mt-2">{{ event.data.location }}</p>
  {% if event.data.description %}
  <p class="block mt-4 whitespace-pre-wrap break-words">{{ event.data.description }}</p>
  {% endif %}
</li>
